#Header{
    background-color: antiquewhite;
}

.Menu_samping{
    background-color: darkgrey;
    float:left;
    width:150px;
    height:300px
}

.Content{
    background-color: aquamarine;
    height: 300px;
}

.Footer{

}